{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre Nós{% endblock %}

{% block content %} 
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{% static 'images/about-1.jpg' %}" alt="">
                        <img class="img-fluid" src="{% static 'images/about-2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h4 class="section-title">Sobre-nós</h4>
                    {% for i in sobre_info %}
                    <h1 class="display-5 mb-4">{{ i.titulo }}</h1>
                    <p>{{ i.texto }}</p>
                    <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos.</p>
                    <div class="d-flex align-items-center mb-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary" style="width: 120px; height: 120px;">
                            <h1 class="display-1 mb-n2" data-toggle="counter-up">40</h1>
                        </div>
                        <div class="ps-4">
                            <h3>Anos</h3>
                            <h3>Trabalhando</h3>
                            <h3 class="mb-0">Experiencia</h3>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5" href="">Saiba Mais</a>
                    {% endfor %}
                </div>
               
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}
